.registerForm {
    display: grid;
    place-items: center;
    height: 100dvh;
    color: black;

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin-inline: 15%;
        background-color: var(--colour-primary);
        border-radius: 10px;
        place-items: center;
        // margin-block: auto;
        height: calc(min(50%, 500px));
    }

    button {
        padding: 0.4em;
        font-size: 1em;
        border: unset;
        background-color: var(--colour-secondary);
        color: var(--colour-background);
        grid-column: 1/3;
        width: 50%;
        border-radius: 10px;
        font-family: inherit;
    }
}